<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello! I'm Piper Floyd, a student studying mechatronics. I hold two bachelor's degrees, one in IT and the other in Spanish. Besides my academic pursuits, I'm an avid traveler and scuba diver.</p>
      </div>
      <div class="col-lg-4">
        <p>I am passionate about robotics and aspire to contribute to the field through innovative projects and research. In my free time, I enjoy exploring new places and cultures through traveling and scuba diving.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="mailto:piper.floyd@example.com" class="btn btn-lg btn-outline">
          <i class="fa fa-envelope"></i> Contact Me
        </a>
      </div>
    </div>
  </div>
</section>
